h1 {
	font-family: Montserrat, Arial, sans-serif;
	color: #fff;
	font-size: 32px;
	line-height: 36px;
	font-weight: 600;

	margin: 0px;
}

p {
	font-size: 14px;
	line-height: 21px;
	color: #444;
}

strong {
	font-weight: 700;
}
